@mixin button () {
    background-color: $sub-primary-color;
    color: $text-color;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s;
    -webkit-box-shadow: 1px 6px 6px 0px rgba(0,0,0,0.58); 
    box-shadow: 1px 6px 6px 0px rgba(0,0,0,0.58);
    border: none;
    &:hover {
        background-color: $active-color;
    }
    &.selected{
        background-color: $active-color;
    }
}